@{
    ViewData["Title"] = "Link bank account";
}


<h1>@ViewData["Title"]</h1>
<div class="row">
    <form id="external-account" asp-controller="LinkBankAccount" asp-action="LinkNewAccount" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
        <div>
            <p>
                @foreach (var provider in Model.ExternalLogins)
                {
                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                }
            </p>
        </div>
    </form>
</div>